.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.index-box-1 {
    margin-top: 150px;
    background-color: aliceblue;
    border: solid antiquewhite 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: larger;
}

.blue {
    background-color: blue;
}

body {
    background-image: url('../img/Contour Line.svg');
    background-size: 100vw 100%;
    background-attachment: scroll;
}

.card {
    min-width: 500px;
    max-width: 500px;
    max-height: 900px;
    margin: 3px;
    text-align: center;
    font-family: 'avante garde';
}

.card-img {
    height: 322px;
    display: flex;
    align-items: center;
}